<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rabbit Info</title>
</head>

<body>
    <h1>Information about Rabbit "<%=rabb.name%>"</h1>
    <p>-Their age is "<%=rabb.age%>"</p>
    <p>-Their ID number is "<%=rabb._id%>"</p>
    <p>-Created at "<%=rabb.createdAt%>"</p>
    <p>-Updated at "<%=rabb.updatedAt%>"</p>
    <a href="/rabbits/edit/<%=rabb._id%>">Edit Rabbit Info </a><br><br>
    <a href="/">Go Home</a>
</body>

</html>